/* Overrite Webkit specific css properties with generic ones */
* {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

#toolbar {
  background-image: -moz-linear-gradient(top, #bfbfbf 0%, #979797 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(191, 191, 191)), to(rgb(151, 151, 151)));
  background-image: linear-gradient(to bottom, #bfbfbf 0%,#979797 100%);

  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;

   -moz-background-origin: padding;
  -webkit-background-origin: padding;
  background-origin: padding;

  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding;
}

.toolbar-item.network .toolbar-icon {
  background-position: -64px 0;
}

.network-log-grid.data-grid th, .network-log-grid.data-grid th.sort-descending, .network-log-grid.data-grid th.sort-ascending {
  background: -moz-linear-gradient(top, #ececec 0%, #d9d9d9 100%);
  background: -ms-linear-gradient(top, #ececec 0%,#d9d9d9 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(236, 236, 236)), to(rgb(217, 217, 217)));
  background: linear-gradient(to bottom, #ececec 0%,#d9d9d9 100%);
}

.network-item-view.visible {
  display:-moz-box;
  display: -webkit-box;
}

.network-item-view .tabbed-pane-header {
  background: -moz-linear-gradient(top, #ececec 0%, #d9d9d9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(236, 236, 236)), to(rgb(217, 217, 217)));
  background: -ms-linear-gradient(top, #ececec 0%,#d9d9d9 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ececec 0%,#d9d9d9 100%); /* W3C */
}

.status-bar {
  background-image: -moz-linear-gradient(top, #fdfdfd 0%, #e6e6e6 75%, #e6e6e6 100%); /* FF3.6+ */
  background-image: -webkit-linear-gradient(rgb(253,253,253), rgb(230,230,230) 75%, rgb(230,230,230));
  background-image: -ms-linear-gradient(top, #fdfdfd 0%,#e6e6e6 75%,#e6e6e6 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #fdfdfd 0%,#e6e6e6 75%,#e6e6e6 100%); /* W3C */
}

.tabbed-pane-content {
  -moz-box-flex:1.0; /* Firefox */
  -webkit-box-flex:1.0; /* Safari and Chrome */
  -ms-flex:1.0; /* Internet Explorer 10 */
  box-flex:1.0;
}

.resource-headers-view,
.resource-cookies-view,
.resource-timing-view {
  position: relative;
}
