
.fork-banner {
 border: 0;
 position: absolute;
 right: 0;
 top: 0;
 z-index: 11;
}

.toolbar-controls {
  float: right;
  display: -webkit-box;
  -webkit-box-align: center;
  height: 100%;
  padding-right: 120px;
}

.toolbar-item.pagespeed-panel .toolbar-icon {
  background-image: url(../img/pagespeed-devtools-icon.png);
}

#search {
  width: 200px;
}

.support {
  display: block;
}
.no-support {
  display: none;
}

.disabled {
  .support {
    display: none;
  }
  .no-support {
    display: block;
  }
}

#dropArea.visible {
  width: 100%;
  height: 100%;
  padding: 40px 20px;
  margin: 88px auto 0;
  position: absolute;
  display: block;
  background: rgba(255, 255, 255, 0.8);
  background-image: -webkit-linear-gradient(bottom, transparent 80%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -moz-linear-gradient(bottom, transparent 80%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -ms-linear-gradient(bottom, transparent 80%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -o-linear-gradient(bottom, transparent 80%, rgba(0, 0, 0, 0.1) 100%);
  background-image: linear-gradient(bottom, transparent 80%, rgba(0, 0, 0, 0.1) 100%);
  text-align: center;
  box-shadow: 0 1px 0 white, 0 -1px 0 rgba(0, 0, 0, 0.1), 0 -2px 0 rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 0 white;
  z-index: 10;
  font-size: 20px;
}

.network-timeline-grid {
  left: 54%;
  right: 18px;
}

.split-view-network-views,
.split-view-resizer {
  left: 313px;
  right: 0px;
}

.split-view-sidebar-left.maximized {
  left: 0px;
  right: 0;
}

.split-view-sidebar-left.minimized {
  left: 0px;
  width: 313px;
}

#network-close-button  {
    display: block;
}

.resource-status-image {
  vertical-align: middle;
}


/* Use class instead of styles */
.split-view-sidebar-left.maximized colgroup {
  .first {
    width: 20.05610098176718%;
  }
  .sec,
  .third,
  .fourth {
    width: 7.03085553997195%;
  }
  .five,
  .six {
    width: 6.9607293127629735%;
  }
  .sev {
    width: 45.90182328190743%;
  }
}

.split-view-sidebar-left.minimized colgroup {
  .first {
    width: 100%%;
  }
  .sec,
  .third,
  .fourth,
  .five,
  .six,
  .sev {
    width: 0px;
    display: none;
  }
}

.fork,
.sample {
  padding: 0.5em 1em;
  border: 1px solid #D4D4D4;
  margin: 0 15px 0 0;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0 white;
  font: 11px/normal sans-serif;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background-color: #ECECEC;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F4F4F4), to(#ECECEC));
  background-image: -moz-linear-gradient(#F4F4F4, #ECECEC);
  background-image: -ms-linear-gradient(#F4F4F4, #ECECEC);
  background-image: -o-linear-gradient(#F4F4F4, #ECECEC);
  background-image: linear-gradient(#F4F4F4, #ECECEC);
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-radius: 0.2em;
  zoom: 1;
}
